@import './base.css';

#app {
  max-width: 1920px;
  margin: 10px auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(200, 85%, 57%, 0.79);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(177, 14%, 29%, 0.51);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}